.header-right {
  display: flex;
  justify-content: space-around;
  gap: 20px;

  &__account {
    display: flex;
    justify-content: top;
    align-items: center;
  }

  &__cart {
    display: flex;
    align-items: end;

    &--text {
      margin-left: 5px;
    }
  }
}


.header-center{
    display: flex;
}